
<H1 class="bigTitle"> Informations about <span class="mainTitle">{{GameDisplayController.game.name}}</span>
<BR/>
<BR/>
</H1>
<p style="font-size:1vw">
    <span class="normalTitle">Origin: </span>{{GameDisplayController.game.origin}}<BR />
    <span class="normalTitle">Invention date: </span>{{GameDisplayController.game.inventionDate}}<BR />
    <span class="normalTitle">Caracteristics: </span>
    <ul  style="font-size:1vw">
        <li>
            <span class="tinyTitle">Usage of weapons: </span>{{GameDisplayController.game.caracteristics.weapons}}</BR>
        </li>
        <li>
            <span class="tinyTitle">Description: </span>{{GameDisplayController.game.caracteristics.description}}</BR>
        </li>
        <li>
            <span class="tinyTitle">Self defense efficiency: </span>{{GameDisplayController.game.caracteristics.selfDefenseEfficiency }}</BR>
        </li>
        <li>
            <span class="tinyTitle">Danger on opponent: </span>{{GameDisplayController.game.caracteristics.dangerOnOpponent}}</BR>
        </li>
    </ul>
    <div class="normalTitle">Hall of fame:</div>
    <ul style="font-size:1vw">
       
        <li  ng-repeat="game  in GameDisplayController.game.hallOfFame"><span class="tinyTitle">{{game.fullName}}</span>
            <ul>
                
                <li>
                    <span class="extratinyTitle">Country of origin: </span>{{game.countryOfOrigin}}
                </li>
                <li>
                    <div class="extratinyTitle">Trophies: </div>
                    <ul>
                        <li ng-repeat="hey  in game.trophies">{{hey.description}}</li> 
                    </ul>
                    
                </li>
            </ul>
        </li>
    </ul>
    <BR />
    <BR />
    <BR />
    <BR />
    <BR />
    <BR />
    <BR />

    </p>